.greetings-container {
  padding-top: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.personal-pic {
  width: 16rem;
  height: auto;
  border-radius: 50%;
  border: 8px solid #444;
}

/* .personal-icon {
  width: 240px;
  height: auto;
} */
